[submodule "src/com.elgato.sample-customlayout-plugin.sdPlugin/libs"]
	path = src/com.elgato.sample-customlayout-plugin.sdPlugin/libs
	url = git@gitlab.com:elgato2/stream-deck/streamdeck-sdk/streamdeck-javascript-sdk.git
